@font-face{
    font-family: Verdana;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
       
}
#Grad{
    background-color: rgb(178, 218, 236) ;
    background-image: linear-gradient(rgb(241, 241, 247), rgb(178, 218, 236));
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;   
}
.container{
    width: 960px;
    margin: 0 auto;
}

header h1{
    font-size: 40px;
    font-weight: normaL;
}
header h3{
    color: rgb(148, 142, 142);

}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


header li{
    display: inline;
    padding: 10px;
    list-style-type: none;
    
}
header a {
        color: rgba(19, 33, 233, 0.877);
        font-size: 25px;
        font-weight: bold;
        padding: 4px;
        text-align: center;
}
.header a:hover{
    color: #ccc;
}
.Tool{
    width: 40%;
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
}
.Tool img{
    float: right;
    width: 30%;
    height: 30%;
    margin-top: -380px;
}
.Tool :nth-child(2){
    width: 60%;
}
main .DailyAbout{
    width: 15%;
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;

}
main .DailyAbout :nth-child(2){
    border-bottom: 2px dashed #ccc ;
    padding-bottom: 20px;
}
.Muse{
    width: 40%;
    border: 2px solid #ccc;
    padding: 10px;
    /* margin-top: 15px; */
    background-color: #fff;
}
.Muse img{
    float: right;
    width: 30%;
    height: 30%;
    margin-top: -380px;
}
.Muse :nth-child(2){
    width: 60%;
}
